@page
@model Mission9_DexterStephens.Pages.ShoppingCartModel

<table class="table table-bordered-block table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(CartItem cartItem in Model.Cart.CartItems)
        {
            <tr>
                <td>@cartItem.Book.Title</td>
                <td>@cartItem.Quantity</td>
                <td>@cartItem.Book.Price.ToString("c")</td>
                <td>@((cartItem.Quantity * cartItem.Book.Price).ToString("c"))</td>
                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@cartItem.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.Cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Checkout">Checkout</a>
</div>